* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.todo-section {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}

.cointainer {
  border: 2px solid black;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  color: #fff;
}

.header {
  font-size: 24px;
  font-weight: 800;
}

button {
  padding: 4px 12px;
  border-radius: 14px;
  outline: none;
  border: 2px solid #f0e2e2;
  color: #3d3d3d;
  font-size: 14px;
}

input {
  border: 1px solid black;
  outline: none;
  padding: 6px 10px;
  border-radius: 4px;
}

.input-box {
  padding-top: 10px;
}

.search-box {
  position: relative;
  width: 80%;
  display: flex;
  align-items: center;
}

.search-bar {
  width: 100%;
}

.search-btn {
  position: absolute;
  right: 2px;
  padding: 2px 12px;
  border-radius: 14px;
  border: 2px solid #9e9d9d;
  color: #3d3d3d;
  font-size: 14px;
}

.dialog {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.todo-card {
  position: relative;
  background: #fff;
  padding: 18px;
  border-radius: 14px;
}
.hide {
  display: none;
}

.content-box {
  width: 80%;
}

.todo-content {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  padding: 8px;
  margin: 4px;
}

.checkbox {
  margin: 10px 0px;
}

#dropdown {
  margin: 10px 0;
  padding: 6px;
  border-radius: 4px;
  outline: none;
}
